*{
    font-family: 'Poppins';
    user-select: none;
}
.blue-underline{
    border:2px solid #0747a6;
    width:400px;
    border-radius: 4px;
}
.round-con{
    height:16px;
    width:16px;
    border:1px solid #9e9e9e;
    border-radius: 50%;
    cursor: pointer;
}
.ml-round{
    margin-left: 15px;
}
.blue-color-background{
    background-color: #0747a6;
}
.dp-view-none{
    display:none !important;
}
.opac-0{
    opacity: 0;
}
.visible-hidden{
    visibility: hidden;
}
/* sec -1 Introduction */
.homepage-sec-1{
    height:calc(80vh );
}
.hmpage-intro{
    font-size: 2.6rem;
    margin: 0px;
    line-height:70px;
    color:#616161;
    width:75%;
    text-align: justify;
}
.hmintro-btn{
    background-color: #0747a6;
    border:none;
    border-radius:53px;
    color:white;
    font-size: 1rem; 
    height:55px;
    width:232px;
    position: relative;
    top:0px;
    transition: top 0.2s;
}
.hmintro-btn:hover{
    top:-3px;
}
.hmintro-btn:active{
    top:0px;
}
.hmintro-btn:focus{ 
    outline: none; 
}

/* sec -2 why us styles */

.homepage-sec-2{
    background-color: #f2f2f2;
    padding:20px;
}
.sec-2-1-text{
    color:#9e9e9e;
    font-size: 1.51rem;
    letter-spacing: 1px;
    font-weight: bold;
    margin-top:20px;
}
.sec-2-2-text{
    color:#4f4f4f;
    font-size:2rem;
    font-weight: bold;
    margin-top:40px;
    line-height: 1.3px;
    letter-spacing: 1px;
}
.hp-sec-2-card-con{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top:15px;
    width:90vw;
}
.hp-sec2-sp-holder{
    height:55px;
}
/* section-3 Accounts section */
.homepage-sec-3{
    background-color: white;
    padding:20px;
}
.sec-3-view-con{
    height:100%;
    width:90vw;
}
.dp-none{
    display: none;
}
.sec-3-middle-view{
    width:100%;
    height:100%;
    position: relative;
    overflow:hidden;
    padding:30px 10px 0px 10px;
}
.sec-3-card-sty{
    width:520px;
    height:320px;
}
.sec-3-content-con{
    width:100%;
    height:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.sec-3-round-con{
    height:20px;
    width:100%;
}
/* sec 4 - Taxation section*/
.sec-4-full-container{
    background-color: #f2f2f2;
}
/* sec 6 - Testimonials */
.homepage-sec-6{
    background-color: #f2f2f2;
    padding:20px;
    height:100vh;
}
.sec-6-title-mt{
    margin-top:45px;
}
/* Media queries */

@media only screen and (max-width: 1350px) {
    .hmpage-intro{
        font-size:2rem;
        line-height:50px;
    }
    .hp-sec2-sp-holder{
        height:35px;
    }
}
@media only screen and (max-width: 1100px) {
    .hmpage-intro{
        font-size:1.8rem;
        line-height:45px;
    }
}
@media only screen and (max-width: 750px) {
    .hmpage-intro{
        font-size:1.5rem;
        line-height:45px;
    }
    .hmintro-btn{
        height:50px;
        width:200px;
    }
    .sec-3-card-sty{
        height:280px;
    }
}
@media only screen and (max-width: 570px) {
    .sec-3-card-sty{
        height:255px;
    }
    .arrow-con-rl{
        display:none !important;
    }
}
@media only screen and (max-width: 600px) {
    .sec-3-card-sty{
        height:255px;
    }
}
@media only screen and (max-width: 450px) {
    .blue-underline{
        width:264px;
    }
    .sec-2-2-text{
        font-size:1.5rem;
    }
}
@media only screen and (max-width: 400px) {
    .hmpage-intro{
        font-size:1.3rem;
        line-height:40px;
    }
    .hmintro-btn{
        height:40px;
        width:150px;
        font-size: 12px; 
    }
    .sec-3-card-sty{
        height:320px;
        width:250px;
    }
}
@media only screen and (max-width: 310px) {
    .hmpage-intro{
        font-size:1.1rem;
        line-height:30px;
    }
}
@media only screen and (max-width: 280px) {
    .sec-3-card-sty{
        width:218px;
    } 
}
@media only screen and (max-width: 200px) {
    .hmpage-intro{
        font-size:1rem;
        line-height:30px;
    }
    .hmintro-btn{
        height:40px;
        width:120px;
        font-size: 10px; 
    }
}
/* Media query defined ranges */
@media only screen and (min-width: 1600px) and (max-width: 1812px){
    .sec-3-card-sty{
        width:450px;
    }
}
@media only screen and (min-width: 1412px) and (max-width: 1600px){
    .sec-3-card-sty{
        width:400px;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1234px){
    .sec-3-card-sty{
        width:400px;
    }
}